[submodule "domeCalibrator"]
	path = domeCalibrator
	url = https://github.com/CMU-Perceptual-Computing-Lab/domeCalibrator.git
[submodule "panopticstudio"]
	path = panopticstudio
	url = https://github.com/CMU-Perceptual-Computing-Lab/panopticstudio.git
[submodule "jsonlab"]
	path = jsonlab
	url = https://github.com/fangq/jsonlab
[submodule "cocoapi"]
	path = cocoapi
	url = https://github.com/cocodataset/cocoapi.git
